.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 20px;
  width: 100px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
  border-radius:50%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.fav-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  gap: 0.5rem;
}

.heart-icon {
  color: red;
  font-size: 1.2rem;
}




